<div class="content-page">
  <div class="content" style="padding-right: 3rem;">
    <div class="row" style="margin-top: 3rem;">
      <div class="col-12">
        <div class="page-title-box">
          <h4 class="page-title"> Add Offers</h4>
        </div>
      </div>
    </div>
    <form action="/admin/add_offers" method="post" onsubmit="return validationAdd()">
    
        <div class="mt-3">
            <div class="form-check">
                <input type="radio" id="category" name="isCategory" value="true" onchange="addOffer('category_display','product_display')" class="form-check-input">
                <label class="form-check-label" for="category">Category</label>
            </div>
            <div class="form-check">
                <input type="radio" id="product"  name="isProduct" value="true" class="form-check-input" onchange="addOffer('product_display','category_display')" >
                <label class="form-check-label" for="product">Product</label>
            </div>
        </div>


        <div class="mb-3">
            <label for="offer_rate" class="form-label">Offer Rate</label>
            <input type="text" id="offer_rate" value="{{offer.offer_rate}}" name="offer_rate" class="form-control" required>
        </div>


        <div class="mb-3">
            <p> Enter the percent of Discount </p>
            <label for="expiry-date" class="form-label">Expiry Date</label>
            <input class="form-control" id="expiry-date" type="date" name="expiry_date">
        </div>

        <div class="mb-3" style="display: none;" id="category_display">
            <label for="example-select" class="form-label">Category</label>
                <select class="form-select" id="category" name="category">
                    {{#each categories}}
                        <option value="{{this.categoryName}}">{{this.categoryName}}</option>
                    {{/each}}
                </select>
        </div>
        <div class="mb-3" style="display: none;" id="product_display">
            <label for="example-select" class="form-label">Products</label>
                <select class="form-select" id="product" name="product">
                    {{#each products}}
                        <option value="{{this.productName}}">{{this.productName}}</option>
                    {{/each}}
                </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>

    </form>
    </div>
</div>
