<style>
table, th, td {
   border: 1px solid black;
   padding: 4px;
}
</style>

<div class="content-page">
  <div class="content">
      <div id="top" class="sa-app__body">
          <div class="mx-sm-2 px-2 px-sm-3 px-xxl-4 pb-6">
            <div class="container">
              <div class="py-5">
                <div class="row g-4 align-items-center">
                  <div class="col">
                    <nav class="mb-2" aria-label="breadcrumb">
                      <ol class="breadcrumb breadcrumb-sa-simple">
                        <li class="breadcrumb-item">
                          <a href="index.html">Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                          Customers
                        </li>
                      </ol>
                    </nav>
                    <h1 class="h3 m-0">Customers</h1>
                  </div>
                  {{!-- <div class="col-auto d-flex">
                    <a href="app-customer.html" class="btn btn-primary"
                      >New customer</a
                    >
                  </div> --}}
                </div>
              </div>
              <div class="card">
                {{!-- <div class="p-4">
                  <input
                    type="text"
                    placeholder="Start typing to search for customers"
                    class="form-control form-control--search mx-auto"
                    id="table-search"
                  />
                </div> --}}
                <div class="sa-divider"></div>
                <table
                  class="sa-datatables-init m-3"
                  data-order='[[ 1, "asc" ]]'
                  data-sa-search-input="#table-search"
                >
                  <thead>
                    <tr>
                      
                      <th style="text-align: center;">Name</th>
                      <th>Email</th>
                      <th>Joined Date</th>
                      <th>Address</th>
                      <th>Phone</th>
                      <th class="w-min" data-orderable="false"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {{#each users}}
                    <tr>
                      
                      <td>
                        <div class="d-flex align-items-center">
                          <a href="app-customer.html" class="me-4"
                            ><div
                              class="sa-symbol sa-symbol--shape--rounded sa-symbol--size--lg"
                            >
                              <img
                                src="{{this.image}}"
                                width="40"
                                height="40"
                                alt=""
                              /></div
                          ></a>
                          <div>
                            <a href="app-customer.html" class="text-reset"
                              >{{this.fullname}}</a
                            >
                           
                          </div>
                        </div>
                      </td>
                      <td class="text-nowrap">{{this.email}}</td>
                      <td>{{this.date}}</td>
                      <td>{{this.address}}</td>
                      <td>{{this.phone}}</td>
                      <td>
                        <div class="dropdown">
                          <button
                            class="btn btn-sa-muted btn-sm"
                            type="button"
                            id="customer-context-menu-0"
                            data-bs-toggle="dropdown"
                            aria-expanded="false"
                            aria-label="More"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="3"
                              height="13"
                              fill="currentColor"
                            >
                              <path
                                d="M1.5,8C0.7,8,0,7.3,0,6.5S0.7,5,1.5,5S3,5.7,3,6.5S2.3,8,1.5,8z M1.5,3C0.7,3,0,2.3,0,1.5S0.7,0,1.5,0 S3,0.7,3,1.5S2.3,3,1.5,3z M1.5,10C2.3,10,3,10.7,3,11.5S2.3,13,1.5,13S0,12.3,0,11.5S0.7,10,1.5,10z"
                              ></path>
                            </svg>
                          </button>
                          <ul
                            class="dropdown-menu dropdown-menu-end"
                            aria-labelledby="customer-context-menu-0"
                          >
                          {{#if block_status}}
                            <li id="preUnBlockButton-{{this._id}}"><button style="border: none;outline:none;background:none" class="dropdown-item" onclick="unBlockUser('{{this._id}}','false')">Un Block</button></li>
                            {{else}}
                            <li id="preBlockButton-{{this._id}}"><button class="dropdown-item" style="border: none;outline:none;background:none" onclick="blockUser('{{this._id}}','false')">Block</button></li>
                            {{/if}}
                            <li id="blockButton-{{this._id}}" style="display:none;"> <button class="dropdown-item" style="border: none;outline:none;background:none;"  onclick="blockUser('{{this._id}}','true')">Block</button></li>
                            <li id="unBlockButton-{{this._id}}" style="display:none;"><button class="dropdown-item" style="border: none;outline:none;background:none;"  onclick="unBlockUser('{{this._id}}','true')">UnBlock</button></li>

                            {{!-- <li><hr class="dropdown-divider" /></li> --}}
                            {{!-- <li>
                              <a class="dropdown-item text-danger" href="/admin/users/delete_user/{{this._id}}"
                                >Delete</a
                              >
                            </li> --}}
                          </ul>
                        </div>
                      </td>
                    </tr>
                    {{/each}}
                   
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
 